

<div class="footer" style=background-color:black;>
    <div class="container">
        <div class="row">
            <div class="col-md-4" style= text-align:center; style= color:white;>
                <p   style= color:white;>OUR ADDRESS</p>
                <p style= color:white;>Maya Building,3rd Floor B006 Kisaasi Road, Kampala-Uganda</p>
                <p style= color:white;>Phone: +256 (706) 844-494</p>
                <p style= color:white;>Email: info@mayaelectronics.com</p>
                <p style= color:white;>Website: www.mayaelectronics.com</p>
            </div>
            <div class="col-md-4" style= text-align:center;>
                <p  style= color:white;>FOLLOW US</p>
                <p style= color:white;>Connect with us on social media:</p>
                <ul>
                    <li><a href="#" target="_blank" style= color:white;>Facebook</a></li>
                    <li><a href="#" target="_blank" style= color:white;>Twitter</a></li>
                    <li><a href="#" target="_blank" style= color:white;>Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-4" style= text-align:center;>
                <p  style= color:white;>QUICK LINKS</p>
                <ul>
                    <li><a href="{% url 'index_page' %}" style= color:white;>Home</a></li>
                    <li><a href="{% url 'aboutus_page' %}" style= color:white;>About Us</a></li>
                    <li ><a href="{% url 'contactus_page' %}" style= color:white;>Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
