{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div style="background-color: ;">

</div>
     
<div>
     <img src="{% static 'images/ts.jpg' %}" alt="This is an image">
     
</div>
<p>

</p>
     <p style="font-size: xx-large;color: red;text-align: center;">
            Welcome to Maya Electronics Company
        </p>
        <p style="font-size: x-large;color: red;text-align: center;">
            Wide Range Of Large Appliances to Choose From And Make Life Simpler
        </p>
</p>
<p id="pp" class="text-center" style= font-style:italic style= font>
"Appliances Designed to Ease Your Life"
</p>
<h2 style="color:white;">Appliances Include</h2>
<ol>
 <ul style="list-style-type: none; padding: 0;">
  <li id="b">Electronic Appliances</li>
  <div class="row">
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/12.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/10.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/11.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/14.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>

<ul style="list-style-type: none; padding: 0;">
  <li id="b">Home Appliances</li>
  <div class="row">
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/15.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/kk.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/jn.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/13.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>

<ul style="list-style-type: none; padding: 0;">
  <li id="b">Kitchen Appliances</li>
  <div class="row">
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/4.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/3.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/2.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    <div class="col-md-3 mb-3">
      <img src="{% static 'images/1.jpg' %}" alt="This is an image" style="width: 100%; height: auto;">
    </div>
    
  </div>
</ul>


</ol>

{% endblock content %}
  
   
 