{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div style="background-color: blue;">

</div>
     <p>
<div id="cen">
     <img src="{% static 'images/ts.jpg' %}" alt="This is an image">
     </p>
</div>
<h1>Welcome to Maya Electronics Company</h1>
     <p style="font-size: x-large;color: rgb(226, 187, 11);text-align: center;">
            Wide Range Of Large Appliances to Choose From And Make Life Simpler
        </p>
</p>
<p id="pp" class="text-center">
Appliances Designed to Ease Your Life
</p>
<h2 style="color:white;">Appliances Include</h2>
<ol>
    <div id="hm">  
<li style="color: black;">Electronics Appliances</li>
<img src="{% static 'images/pt.jpg' %}" alt="This is an image">
<img src="{% static 'images/tp.jpg' %}" alt="This is an image">
<img src="{% static 'images/lp.jpg' %}" alt="This is an image">
<img src="{% static 'images/pp.jpg' %}" alt="This is an image">

<li style="color: black;">Home Appliances</li>
<img src="{% static 'images/rg.jpg' %}" alt="This an image">
<img src="{% static 'images/kk.jpg' %}" alt="This an image">
<img src="{% static 'images/jn.jpg' %}" alt="This an image">

</div>

<li style="color: black;">Kitchen Appliances</li>
<img src="{% static 'images/tt.jpg' %}" alt="This is an image">
<img src="{% static 'images/gg.jpg' %}" alt="This is an image">
<img src="{% static 'images/aa.jpg' %}" alt="This is an image">
<img src="{% static 'images/cdb.jpg' %}" alt="This is an image">

</ol>

     
{% endblock content %}
  
 x