{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 id="pt" class="text-center">Services</h2>
  
    
      <p><img src="{% static 'images/LL.jpg' %}" id="sev" class="text-center"alt="This is an image">
    Home Delivery</p> 
    <p><img src="{% static 'images/CC.jpg' %}" id="sev" alt="This is an image">
    Online Payment</p>
      <p><img src="{% static 'images/XX.jpg' %}" id="sev" alt="This is an image">
    Assured Quality</p>
    <p><img src="{% static 'images/RR.jpg' %}" id="sev" alt="This is an image">
    Wide Assortment</p>
    

{% endblock content %}
